body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

h2, h3, h4 {
  font-weight: 600;
  margin: 0;
}

p {
  color: #8F8F8F;
  line-height: 2;
  margin: 0;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* General Container for Sections */

.container-fluid {
  padding: 5% 10%;
}

/* General Section Text */

.section-text {
  font-size: 1.9rem;
  padding: 0 4% 1%;
  line-height: 1.8;
}

/* Buttons */

.download-btn{
  margin: 0% 25px 0 0;
}

/* Top Title w/ Nav Bar Section*/

#top {
  text-align: left;
}

#top .container-fluid {
  padding: 1.5% 10% 10%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  font-size: 1.25rem;
  padding: 0 20px;
}

.iphone-img {
  width: 50%;
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
}

/* Features Section */

#features {
  position: relative;
}

.features {
  padding: 10% 0%;
}

.icon {
  margin-bottom: 1rem;
  color: #EF8172;
}

.icon:hover {
  color: #FF4C68;
}

/* Testimonials Section */

#testimonials {
  background-color: #EF8172;
}

.carousel-item {
  padding: 0 12%;
}

.pic-indicator {
  margin: 0;
  bottom: -20px;
}

.testimonial-img {
  clear: right;
  width: 12%;
  border-radius: 100%;
  margin: 1% 0 2%;
}

/* News Company Logos Section */

#news {
  background-color: #EF8172;
}

.news-logos {
  width: 18%;
  padding: 75px 3% 0;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing {
  padding: 50px 5% 0;
}

.plan-text {
  margin-bottom: 3%;
}

/* Bottom Title w/ Social and Copyright Section */

.copyright {
  padding: 3%;
}

.social-icons {
  color: #343a40;
  padding: 0 2%;
}

.social-icons:hover {
  color: #000000;
}

.copyright-text {
  margin-top: 2%;
}

/* Mobile Website Changes */

@media (max-width: 1000px) {

  #top {
    text-align: center;
  }

  .iphone-img {
    margin-top: 40px;
    position: static;
    transform: rotate(0deg);
  }

  .section-text {
    font-size: 150%;
    text-align: 1.2;
  }

  .testimonial-img {
    width: 30%;
  }

  .news-logos {
    width: 22%;
  }
}
